# Puerto del servidor
PORT=3000

# URI de conexión a MongoDB
# Para desarrollo local:
# MONGO_URI=mongodb://localhost:27017/tienda-de-mates

# Para MongoDB Atlas (cloud):
# MONGO_URI=mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/tienda-de-mates

MONGO_URI=mongodb://localhost:27017/tienda-de-mates

# Ambiente
NODE_ENV=development
